[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "lualib-src/luafilesystem"]
	path = lualib-src/luafilesystem
	url = https://github.com/lunarmodules/luafilesystem.git
